<div id="left_content">
	<h1>About This Template</h1>
	<p><%=user.describe%></p>
</div>
<div id="right_content">
	<img style="float: left;" src="<%=user.photo%>" title="about me" alt="about me"/>
</div>
<script type="text/javascript" >
	//全部清除方法
	for(var each in pageTimer){
	    clearInterval(pageTimer[each]);
	}
</script>