<ul class="slideshow">
	<li class="show"><img width="950" height="450" src="images/index/home_1.jpg" alt="&quot;You can put a caption for your image right here&quot;" /></li>
	<li><img width="950" height="450" src="images/index/home_2.jpg" alt="&quot;You can put a description of the image here if you like, or anything else if you want.&quot;" /></li>
	<li><img width="950" height="450" src="images/index/home_3.jpg" alt="&quot;You can put a description of the image here if you like, or anything else if you want.&quot;" /></li>
</ul>
<script type="text/javascript" >
	//全部清除方法
	for(var each in pageTimer){
	    clearInterval(pageTimer[each]);
	}
	slideShow(4000)
</script>