
<ul class="slideshow">
	<% homepiclist.forEach(function(homepic,n){ %>
		<% if(n==0){%>
			<li class="show slideshow_li"><img width="950" height="450" src="<%=homepic.imgpath%>" alt="&quot;<%=homepic.imgdescribe%>&quot;" /></li>
		<% }else{ %>
			<li class="slideshow_li"><img width="950" height="450" src="<%=homepic.imgpath%>" alt="&quot;<%=homepic.imgdescribe%>&quot;" /></li>
		<% } %>
	<% }) %>
</ul>
<script type="text/javascript" >
	//全部清除方法
	for(var each in pageTimer){
	    clearInterval(pageTimer[each]);
	}
	if($(".slideshow_li").length>1){
		slideShow(4000)
	}
</script>