
<!DOCTYPE HTML>
<html>

<head>
    <title>个人相册</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <!-- 响应屏幕变化 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- stylesheets -->
    <link href="css/index/style.css" rel="stylesheet" type="text/css" />
    <link href="css/index/colour.css" rel="stylesheet" type="text/css" />
    <!-- 首页样式文件 -->
	<link rel="stylesheet" href="css/index/index.css">
    <!-- modernizr enables HTML5 elements and feature detects -->
    <script type="text/javascript" src="js/index/modernizr-1.5.min.js"></script>
</head>
<body style="background: #282828 url(images/index/dark.png);color: #BBB;">
  <div id="main">
    <!-- begin header -->
    <header>
      <div id="logo"><h1>PHOTO<a href="#">ART</a>WORK 2_reverse</h1></div>
      <nav>
        <ul class="sf-menu" id="nav">
          <li id="loadhome" class="top_nav selected"><a href="#" >home</a></li>
          <li id="loadaboutme" class="top_nav"><a href="#">about me</a></li>
          <li class="top_nav my_portfolio"><a href="#">my portfolio</a>
            <ul style="z-index:999">
              <li id="loadportfolio_one"><a href="#">portfolio_one</a></li>
              <li id="loadportfolio_two"><a href="#">portfolio_two</a></li>
            </ul>
          </li>
          <li id="loadblog" class="top_nav"><a href="#">blog</a></li>
          <li id="loadcontact" class="top_nav"><a href="#">contact</a></li>
        </ul>
      </nav>
    </header>
    <!-- end header -->
    <!-- begin content -->
    <div id="site_content">
      
    </div>
    <!-- end content -->
    <!-- begin footer -->
    <footer>
      <p><a></a></p>
      <p><img src="images/index/twitter.png" alt="twitter" />&nbsp;<img src="images/index/facebook.png" alt="facebook" />&nbsp;<img src="images/index/rss.png" alt="rss" /></p>
    </footer>
    <!-- end footer -->
  </div>
  <!-- javascript at the bottom for fast page loading -->
  <script src="js/common/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="js/index/jquery.easing-sooper.js"></script>
  <script type="text/javascript" src="js/index/index.js"></script>
  <!-- initialise sooperfish menu -->
</body>
</html>
